@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.form-label {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
  
    line-height: 35px;
    letter-spacing: -0.5px;
    color: #333333;
}

.fontebotao {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px!important;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #ffffff;
    border: none;
}



input, select, textarea {
    font-size: 15px !important;
    height: 3.5rem;
}

.btn {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #ffffff;
    border-radius: 4px !important;
    padding: 0.54rem 0.75rem !important;
}

.transformdiv {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    padding-bottom: 3rem;
}

.coluna {
    display: none;
    flex-direction: column;
}

.input {
    margin-right: 2.1rem;
    display: none;
}

.btn {
    padding: 0.28rem 0.5rem !important;
    /* padding: 0.11rem 0.4rem !important; */
    /* padding: 0.3rem 0.5rem !important; */
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #ffffff;
}

.btadicionar {
    background-color: #0e6969 !important;
    padding: 0.2rem 0.55rem !important;
}


/* Estilização de tabelas */
.table-responsive-sm {
    background: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 14px;
    border-radius: 5px;
    width: max-content;
    max-width: 100%;
  }
  
  /* arredondar as bordas do thead */
  .table thead td:first-of-type {
    border-top-left-radius: 5px;
  }
  
  .table thead td:last-of-type {
    border-top-right-radius: 5px;
  }
  
  /* linhas da table */
  .table td,
  .table th {
    border-bottom: 1px solid #dee2e6;
    border-top: 0px !important;
  }
  
  .table> :not(:last-child)> :last-child>* {
    border-bottom-color: #ececec !important;
  }

